<!DOCTYPE html>
<head>
  <title>Daniel Zhao</title>
  <style>
    header {
      text-align: right;
      background: url("http://i.imgur.com/b6H74.jpg");
      background-size: cover;
      background-position: center;
      font-family: helvetica;
    }
    a {
      color: white;
    }
    li {
      padding: 0px 10px 0px 10px;
    }
    h1 {
    font-size: 40px;
    color: rgba(140, 7, 22, .9);
    }
    img {
      width: 190px;
      height: auto;
      border: 9px solid rgba(9, 20, 211, .5);
      border-radius: 25px;
    }
    body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    background: rgba(109, 0, 22, .8); 
    max-width: 600px;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(109,0,22,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.9), rgba(109,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(109,0,0,.4));
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
  }
  p {
  font-size: 19px
  }

  </style>
</head>

<body>
<header>
  <img src="http://i.imgur.com/itgLMyG.png">
  <h1>Hi! I'm Daniel Zhao</h1>
  <ul>
  	  <li><a href="http://localhost:9393/">Index</a></li>
      <li><a href="http://localhost:9393/about">About</a></li>
      <li><a href="http://localhost:9393/Contact">Contact</a></li>
  </ul>
</header>
  <article>
  <h2>I'm from Hong Kong</h2>
  <p>Hong Kong is a city that never sleeps. At night, the neon lights which illuminate the city are foggy through the mist and humidity. The buildings which stand above it look down on the passersby, casting their yellow gazes with tired eyes. From a distance, their lights too are foggy, carrying in them the dreams of all the hardworking people like the summer rain, if rain could carry dreams. </p>
  </article>
  <article>
  <h2>Why do you want to learn to code?</h2>
  <p>Code, like prose, is elegant. Clear, crisp code is like a cold shower after a swim in the hot, salty sea. That's what I tell most people. Honestly I just want to be employable.</p>
  </article>
  <article>
  <h2>What are you most excited about in South Africa?</h2>
  <p>Code, of course. I'm also excited to be by the sea. There is sea in Hong Kong - I'm surrounded by it, in fact - but I can't interact with it. I can only admire from afar, like the popular chick in math class. It was made dirty by the Outsiders from the Mainland. Or at least, that's what people claim.</p>
  </article>
    <article>
  <h2>What is one surprising or cool thing about you that others might not know?</h2>
  <p>Skate, skateisstyle Lyfe hardinwardheelflip Roasted CHickens vegan Gluten Free organic (fruitarian bodybuilding) #Hashtag lo-fi polaroid I look away from the camera in my photographs. Rooftop rave quadbike x fixed gear. Let me tell you a secret: Did you know?<br><br> Deathlords (Shinigami),<br><br><span class="heh"> aka Gods of Death,</span><br><br><span class="secret"> L0VE APPLES??!</span></p>
  </article>
</body>