<!DOCTYPE html>
<head>
  <title>Daniel Zhao</title>
  <style>
    header {
      text-align: right;
      background: url("http://i.imgur.com/b6H74.jpg");
      background-size: cover;
      background-position: center;
      font-family: helvetica;
    }
    a {
      color: white;
    }
    li {
      padding: 0px 10px 0px 10px;
    }
    h1 {
    font-size: 29px;
    color: rgba(221, 7, 22, .9);
    }
    img {
      width: 190px;
      height: auto;
      border: 9px solid rgba(9, 20, 211, .5);
      border-radius: 25px;
    }
    body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    background: rgba(109, 0, 22, .8);
    max-width: 600px;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(109,0,22,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.9), rgba(109,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(109,0,0,.4));
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
  }
  p {
  font-size: 19px
  }
  h2 {
    color:white;
    text-align: left;
  }
  .title{
    color:black;
  }

  </style>
</head>

<body>
<header>
  <img src="http://i.imgur.com/itgLMyG.png">
  <h1>Welcome to my corner of the internet</h1>
  <ul>
  	  <li><a href="http://localhost:9393/">Index</a></li>
      <li><a href="http://localhost:9393/about">About</a></li>
      <li><a href="http://localhost:9393/Contact">Contact</a></li>
  </ul>
</header>
<h2>
<span class='title'>Ancient Watchers<br></span>
A thousand starts shine and fade<br>
As a thousand lifetimes come and go<br>
I watched them with unblinking eyes<br>
Too busy chasing the leaves in the breeze.<br>
Such a wind blows past everyday life,<br>
&nbsp;&nbsp;&nbsp;&nbsp;perhaps<br>
One day the breeze will fail<br>
and the leaves will sit unwillingly still;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digging beeath them (I discover)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I was never chasing leaves<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Just lost in the wind.<br></span>

</body>